<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="classifiedMessage" value="Smartbot buying 200 commons for 1 or 60 uncommons for 1, any combination of commons and uncommons is acceptable."/>
    <add key="botName" value=" "/>
    <add key="maxTradeMinutes" value="6"/>
    <add key="deckFileLocation" value="C:\Users\Druegor\AppData\Roaming\Wizards of the Coast\Magic Online\3.0\Decks\"/>
    <add key="tradeFileLocation" value="C:\Users\Druegor\AppData\Roaming\Wizards of the Coast\Magic Online\3.0\Export\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="delay" value="0"/>
    <add key="botType" value="rareTrader"/>
    <add key="trainerMode" value="false"/>
    <add key="password" value=" "/>
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWcfAppender" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WcfMagicBotService/WcfAppenderService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfAppender"
        contract="BotServices.IWcfAppender" name="WSHttpBinding_IWcfAppender">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
