<log4net>
  <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="k:\temp\log2console.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j" />
  </appender>
  <appender type="AutoItBot.Appenders.WcfAppender" name="WcfAppender">
    <param name="QueueSize" value="3"/>"
    <param name="FlushLevel" value="ERROR"/>
    <param name="SecurityMode" value="None"/>
    <param name="UseDefaultWebProxy" value="false"/>
    <param name="Username" value="myUsername"/>
    <param name="Password" value="myPassword"/>
    <param name="RemoteAddress" value="http://localhost:8732/Design_Time_Addresses/WcfMagicBotService/WcfAppenderService/mex"/>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="FileAppender" />
<!--    <appender-ref ref="WcfAppender" />-->
  </root>
</log4net>
